body{
    margin: 0;
    padding: 0;
}

*{
    box-sizing: border-box;
}

.box-menu{
   width: 100%;
}

.box-menu ul{
    font-weight: 800; /*Độ dày của chữ*/
    display: inline-flex;
    list-style: none;
    color: #fff;
}

.box-menu  ul li{
    margin: 10px;
    padding: 10px;
}

.box-menu  ul li a {
    text-decoration: none;
    color: #fff;
}

.box-menu  ul li:hover{
    background-color: rgb(123, 192, 19);
    border-radius: 10px;
}
.box-submenu{
    display: none;
}

.box-menu ul li:hover .box-submenu{
    display: block;
    position: absolute;
    background-color: rgb(123, 192, 19);
    margin-top: 5px;
    margin-left: -15px;
}

.box-menu ul li:hover .box-submenu ul{
    display: block;
    margin: 0;
    padding: 0;
}

.box-menu ul li:hover .box-submenu ul li{
    width: 220px;
    text-align: left;
    border-bottom: dotted 1px #fff;
    background: transparent;
    border-radius: 0;
    padding: 10px;
    margin: 10px;
}
.box-menu ul li:hover .box-submenu ul li:last-child{
    border: none;
}

.box-menu ul li:hover .box-submenu ul li a:hover{
  color: black;
}

.box-submenu-2{
    display: none;
}
.submenu-hover:hover .box-submenu-2{
    display: block;
    position: absolute;
    margin-top: -40px;
    margin-left: 210px;
    background-color:  rgb(92, 145, 13);
}
.icon:before {
    padding-right: 10px;
}
.icon-search{
    margin-top: 36px;
    color: #fff;
    width: 100px;
    text-align: center;
}
#main{
    background-color: rgb(135, 212, 20);
    display: flex;
}