*{
    font-size: 20px;
}

html{
    background-image: url(/b2/btvn/bai4.1/img/1074128.jpg);
    background-size:cover ;
}

body{
    margin: 0;
}

#main{
    display: flex;
}

#menu{   
    width: 15%;
    height:850px;
    background-color: rgba(253, 253, 253, 0.216);
}

.menu-head{
 
    margin: 0;
    padding: 20px 30px;
}

.menu-content{
    line-height: 40px;
}

.content{
    list-style: none;
}

.mn-content{
    color: black;
    padding: 10px;
    text-decoration: none; /*bỏ gạch chân*/
}

.footer-content{
    padding: 10px 50px;
}

.info{
    padding: 20px 30px;
}

li{
    margin-right: 16px;
}

li:hover{
    background-color: rgba(253, 253, 253, 0.216);
    color: aliceblue;
}
.a{
    text-decoration: none;
}
.log{
    width: 900px;
    text-align: right;
}
.btn{
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
    background-color: transparent; /* Loại bỏ nền màu */
            border: none; /* Loại bỏ viền */
}

.btn:hover, .btnsu:hover{
    background-color: violet;
}

.jpg{
 width: 100%;
}
.text{
    margin: 0;
    background-color: rgba(220, 217, 217, 0.88);
}

#image{
    width: 70%;
    display: flex;
    margin-left: 90px;
    margin-top: 86px;
}

.img_info{
    margin-left: 20px;
    border-spacing: 20px;    
}

#contentmain{
    border-collapse: collapse;
    width: 60%;
}
.img{
    width: 33.3333%;
}
.img:hover{
    transform: scale(1.1); /* Hiệu ứng phóng to khi hover */
    background-color: rgba(107, 102, 102, 0.88);
    opacity: 0.9;
}
 